body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Marcellus SC', serif;
    font-family: 'Montserrat', sans-serif;
}

.title_font {
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #3E45E8;
}

.header {
    text-align: center;
    width: 100%;
    height: 110px;
    padding: 25px 0;
    box-sizing: border-box;
}

.header_span {
    color: #E8C23E;
}

.section1_image {
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    height: 803px;
    background-size: cover;
    padding-top: 218px;
    box-sizing: border-box;
    padding-left: 80px;
    height: 852px;
    margin-bottom: 72px;
}

.section1_flag {
    box-sizing: border-box;
    padding-left: 59px;
    background-repeat: no-repeat;
    height: 272px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #FFFFFF;
    width: 890px; 
    background-image: url(../img/flag.png);
}

.main {
    margin: 0 80px 74px;
}

.h1 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    
}

.line {
    border-bottom: 5px solid #33B8F1;
    width: 402px;
    margin-bottom: 33px;
}

.card_flex {
    display: flex;
    justify-content: space-between;
}

.card {
    /* width: 391px; */
    width: 32.9%;
    height: 481px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 14px 14px rgb(0 0 0 / 50%);
    overflow: hidden;
    border: none;
}

.card__image {
    width: 100%;
}

.card_title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #1E8DF2;
    padding: 14px 0 16px 10px;
    box-sizing: border-box;
}

.card_subtitle {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
    padding-left: 10px;
    box-sizing: border-box;
    width: 70%;
}

.h1__center {
    text-align: center;
}

.line__center {
    margin: 0 auto 62px;
}

.image__ukraine {
   text-align: center;
   margin-bottom: 51px;
}

.button_style {
    background-color: #2A61F0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 157.3%;
    color: #FFFFFF;
    padding: 10px 93px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.button {
    text-align: center;
    margin-bottom: 21px;
}

footer {
    background-color: #2F4A4B;
}

.title_font__bottom {
    text-align: center;
    padding-bottom: 31px;
    box-sizing: border-box;
}

.mail_footer {
    text-align: center;
    margin-bottom: 21px;
}

.footer_mail {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
}

.tell_footer {
    text-align: center;
    padding-bottom: 21px;
    box-sizing: border-box;
}

.footer_tell {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-decoration: none;
}

.footer_elems {
    display: flex;
    justify-content: center;
    padding-bottom: 27px;
    box-sizing: border-box;
}