body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.content {
    max-width: 1600px;
}

header {
    background-color: #000000;
}

.header-top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2em 0;
}

.header-logo {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2em;
    color: #FFFFFF;
}

.header-sidebar ul{
    display: flex;
}

.header-sidebar-li {
    list-style-type: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #FFFFFF;
    margin-right: 1.5em;
}

.header-sidebar-li:last-child {
    margin-right: 0;
}

.header-sidebar-li-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-content {
    width: 90%;
    margin: 0 auto;
    height: 682px;
    display: flex;
    justify-content: space-between;
}

.header-content-left {
    width: 50%;
    margin-left: 4em;
}

.header-content-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3.6em;
    color: #FFFFFF;
    margin-bottom: 1em;
    padding-top: 2em;
}

.header-content-title span {
    color: #F6AD09;
}

.header-content-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.5em;
    color: #B2B2B2;
    margin-bottom: 2em;
    width: 84%;
    text-align: justify;
}

.header-content-btn button {
    background-color: #F6AD09;
    color: #332200;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 5px;
}

.header-content-btn button:hover {
    background-color: #b69a59;
    transition: .5s;
    cursor: pointer;
}

.header-content-img {
    width: 50%;
}

.section_bar {
    width: 96%;
    margin: 8em auto 12em;
}
/* 6.5em */

.section_bar_title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 4em;
    color: #111111;
    margin: 0 0 .4em 2em;
}

.section_bar_title span {
    color: #FFBB00;
}

.section_bar_flex {
    display: flex;
    justify-content: space-between;
}

.section_bar_flex_icons_description {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2em;
    color: #111111;
}

.section_bar_flex_icons_description span {
    color: #FFBB00;
}

.section_bar_flex_icons_cost {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
    color: #595959;
    margin-left: 1.7em;
}

.section_bar_flex_icons_bicycle {
    width: 25em;
}

.section_bar_flex_icons_link {
    text-decoration: none;
}

.tools {
    width: 100%;
    background-color: #111111;
    height: 861px;
    display: flex;
    align-items: center;
    margin-bottom: 142px;
}

.tools_width {
    width: 45%;
    padding: 81px 30px 0 73px;
}

.tools_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #B2B2B2;
    margin-bottom: 1em;
}

.tools_title-bold {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3.6em;
    color: #FFFFFF;
    margin-bottom: 1em;
    width: 77%;
}

.tools_title-bold span {
    color: #F6AD09;
}

.tools-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    color: #B2B2B2;
    margin-bottom: 1.2em;
    width: 33em;
}

.tools_title_orange {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
    color: #FFBB00;
    border-bottom: 4px solid #FFBB00;
    margin-bottom: 3.8em;
    display: inline-block;
}

.tools-footer {
    display: flex;
    padding-bottom: 4em;
}

.tools-footer-flex_title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.5em;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1em;
}

.tools-footer-flex_title span {
    color: #FFBB00;
}

.tools-footer-flex_description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    color: #B2B2B2;
}

.tools-image {
    width: 50%
}

.tools-image_img {
    width: 38em;
}

.lable {
    width: 94%;
    margin-left: 4em;
    margin-bottom: 1em;
}

.lable_title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 4em;
    color: #111111;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.lable_border {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.lable_border_image {
    border: 2px solid #E0E0E0;
    width: 18em;
    height: 6em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.lable_border_image_img {
    padding-top: 1.9em;
    box-sizing: border-box;
}

.sayings {
    width: 100%;
    display: flex;
    height: 588px;
}

.sayings-image {
    width: 50%;
}

.sayings-img {
    width: 42.2em;
}

.sayings-description {
    width: 50%;
}

.sayings-description {
    background-color: #FFBB00;
    padding: 17em 7em 0 4em;
    box-sizing: border-box;
}

.sayings-description-title {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 2em;
    color: #332200;
}

.sayings-description-title span {
    color: #706b52;
}

.sayings-description-name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5em;
    color: #664400;
}

.section-price {
    width: 100%;
    background-color: #161616;
}

.section-price-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2em;
    color: #FFFFFF;
    padding: 2em 0 2em 3em;
    box-sizing: border-box;
}

.section-price-title span {
    color: #FFBB00;
}

.section-price-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.section-prise_blocks {
    background-color: #000000;
    padding: 2em;
    box-sizing: border-box;
    width: 27em;
}

.section-prise-cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
}

.section-prise-cist-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2em;
    color: #9C9C9C;
}

.section-prise-cist-prise {
    font-family: 'Poppins';
        font-weight: 600;
        font-size: 2em;
        line-height: 48px;
        color: #FFFFFF;
}

.section-prise-cist-description {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: .8em;
    color: #9C9C9C;
    padding-left: 4em;
}

.section-prise_blocks-list {
    margin-bottom: 3em;
}

.section-prise_blocks-list ul {
    list-style-type: none;
}

.section-prise_blocks-list ul li {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
    color: #FFFFFF;
    margin-bottom: 1em;
}

.section-prise_blocks-list ul li span {
    color: #FFBB00;
}

.header-sidebar-li:last-child {
    margin-bottom: 0;
}

.section-price-btn {
    margin-left: 3em;
}

.section-price-btn button {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1em;
    color: #CCCCCC;
    padding: 1em 1.8em;
    background-color: #2E2E2E;
    border-radius: 5px;
}

