body {
    font-family: 'Rosario', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1620px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: fixed;
    z-index: 1;
    
}

.header-nav {
    background-color: #000000;
}

.header-nav ul {
    display: flex;
    padding-top: 1.7em;
    padding-left: 13.1em;
    box-sizing: border-box;
}

.header-nav-li {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2em;
    color: #FFFCFC;
    list-style-type: none;
    margin-right: 1.5em;
}

.header-nav-li:last-of-type {
    margin-right: .5em;
}

.header-nav-li-link {
    text-decoration: none;
    color: #FFFCFC;
}

.section-gallery {
    display: flex;
    padding-top: 11em;
    align-items: center;
    margin-bottom: 3em;
}

.section-gallery-block-1 {
    margin-right: 2em;
    position: relative;
    left: -300px;
    animation: anim 3s 2s forwards;
}
@keyframes anim { 
    from {
    left: -240px;
}
to {
    left: 140px;
}
}

.section-gallery-Photo1 {
    width: 230px;
    
}

.section-gallery-block-2 {
    margin-right: 2em;
    position: relative;
    left: -800px;
    animation: anim2 3s 1s forwards;
}

@keyframes anim2 {
    from {
        left: -640px;
    }

    to {
        left: 150px;
    }
}

.section-gallery-block-2-1, .section-gallery-block-3-1 {
    margin-bottom: 1em;
}

.section-gallery-Photo2 {
    width: 260px;
}

.section-gallery-block-3 {
    margin-left: .5em;
    position: relative;
    right: -900px;
    animation: anim3 3s 1s forwards;
}
@keyframes anim3 {
    from {
        right: -840px;
    }

    to {
        right: -140px;
    }
}

.section-gallery-Photo3 {
    width: 260px;
}

.section-gallery-Photo4 {
    width: 260px;
}

.section-gallery-Photo5 {
    width: 260px;
}

.section-gallery-block-4 {
    margin-left: 2em;
    position: relative;
    right: -800px;
    animation: anim4 3s 2s forwards;
}
@keyframes anim4 {
    from {
        right: -640px;
    }

    to {
        right: -150px;
    }
}

.section-gallery-Photo6 {
    width: 230px;
}

.section-services {
    display: flex;
    justify-content: space-between;
}

.section-services-block-1 {
    width: 50%;
    margin-top: 4em;
}

.section-services-block-2 {
    width: 50%;

}

.section-services-block-2-image {
    width: 100%;
}

.section-service-block-1-flex {
    display: flex;
    margin-bottom: 2em;
}

.section-service-block-1-flex:last-of-type {
    margin-bottom: 0;
}

.services-img-1 {
    position: relative;
    left: 0;
    animation: serv1 linear 6s infinite;
}

@keyframes serv1 {
    from, 
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: 0;
        left: 338px;
    }

    40% {
        top: 338px;
        left: 338px;
    }

    60% {
        top: 338px;
        left: 0px;
    }

    80% {
        top: 0px;
    }
}

.services-img-2 {
    position: relative;
    left: 0;
    animation: serv2 linear 6s infinite;
}

@keyframes serv2 {

    from,
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: 338px;
        left: 0;
    }

    40% {
        top: 338px;
        left: -338px;
    }

    60% {
        top: 0;
        left: -338px;
    }

    80% {
        top: 0px;
        left: 0;
    }
}

.services-img-3 {
    position: relative;
    left: 0;
    animation: serv3 linear 6s infinite;
}

@keyframes serv3 {

    from,
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: -338px;
        left: 0;
        
    }

    40% {
        top: -338px;
        left: 338px;
    }

    60% {
        top: 0;
        left: 338px;
    }

    80% {
        top: 0px;
        left: 0;
    }
}

.services-img-4 {
    position: relative;
    left: 0;
    animation: serv4 linear 6s infinite;
}

@keyframes serv4 {

    from,
    to {
        top: 0;
        left: 0;
    }

    20% {
        top: 0;
        left: -338px;

    }

    40% {
        top: -338px;
        left: -338px;
    }

    60% {
        top: -338px;
        left: 0;
    }

    80% {
        top: 0px;
        left: 0;
    }
}


.section-services-block-1-image {
    text-align: center;
}

.image-services1 {
    width: 78%;
}

.img-services1-title {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 2em;
}

.section-team {
    margin-bottom: 8em;
}

.section-team-title {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
}

.section-team-experts {
    display: flex;
    text-align: center;
    /* height: 30.1em; */
}

.section-team-experts_photo1:hover .experts-link {
    display: block;
}

.section-team-experts_photo2:hover .experts-link2 {
    display: block;
}

.section-team-experts_photo3:hover .experts-link3 {
    display: block;
}

.section-team-experts_photo4:hover .experts-link4 {
    display: block;
}


/* .section-team-experts_photo:hover .experts-link2 {
    display: block;
} */

/* .section-team-experts_photo1:hover .image-filter {
    filter: brightness(0.5);
}

.image-filter {
    filter: none;
} */


/* .experts_photo-background  {
    filter: none;
    
} */

.experts_photo {
    width: 86%;
}

.experts-link {
    position: relative;
    background-color: rgba(163, 83, 10, 0.7);
    width: 294px;
    height: 3em;
    border-radius: 0 0 30px 30px;
    top: -147px;
    left: 24px;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 3em;
    color: #FFFAFA;
    box-sizing: border-box;
    padding-top: .8em;
    display: none;
}

.experts-link2 {
    position: relative;
    background-color: rgba(163, 83, 10, 0.7);
    width: 285px;
    height: 3em;
    border-radius: 0 0 30px 30px;
    top: -147px;
    left: 24px;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 3em;
    color: #FFFAFA;
    box-sizing: border-box;
    padding-top: .8em;
    display: none;
}

.experts-link3 {
    position: relative;
    background-color: rgba(163, 83, 10, 0.7);
    width: 292px;
    height: 3em;
    border-radius: 0 0 30px 30px;
    top: -147px;
    left: 23px;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 3em;
    color: #FFFAFA;
    box-sizing: border-box;
    padding-top: .8em;
    display: none;
}

.experts-link4 {
    position: relative;
    background-color: rgba(163, 83, 10, 0.7);
    width: 289px;
    height: 3em;
    border-radius: 0 0 30px 30px;
    top: -147px;
    left: 24px;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 3em;
    color: #FFFAFA;
    box-sizing: border-box;
    padding-top: .8em;
    display: none;
}

.section-reviews {
    display: flex;
    justify-content: center;    
    margin-bottom: 74px;
}

.section-reviews-title {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    margin-bottom: .3em;
}


.section-reviews-table {
    width: 55%;
}

.section-reviews-table table {
    width: 94%;
    border: none;
    background-color: #E5E5E5;
}

.section-reviews-table table tbody {
    background-color: #FFFFFF;
}

.table-input {
    width: 99%;
    border: none;
}

.table-input-height {
    height: 2em;
}

.table-tr {
    height: 5.3em;
}

.section-reviews-map {
    width: 35%;
}

.footer {
    display: flex;
}












@media (min-width:1066px) and (max-width:1249px) {
        @keyframes anim {
            from {
                left: -240px;
            }
    
            to {
                left: 78px;
            }
        }

        @keyframes anim2 {
            from {
                left: -640px;
            }

            to {
                left: 77px;
            }
        }
        @keyframes anim3 {
            from {
                right: -840px;
            }

            to {
                right: -61px;
            }
        }

        @keyframes anim4 {
            from {
                right: -640px;
            }

            to {
                right: -60px;
            }
        }
}

@media (min-width:992px) and (max-width:1066px) {
    @keyframes anim {
        from {
            left: -240px;
        }

        to {
            left: 2px;
        }
    }

    @keyframes anim2 {
        from {
            left: -640px;
        }

        to {
            left: -14px;
        }
    }

    @keyframes anim3 {
        from {
            right: -840px;
        }

        to {
            right: 5px;
        }
    }

    @keyframes anim4 {
        from {
            right: -640px;
        }

        to {
            right: 20px;
        }
    }

    .section-team-experts {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        
    }

    .experts-link {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 348px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -148px;
        left: 28px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .experts-link2 {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 338px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -148px;
        left: 27px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .experts-link3 {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 344px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -147px;
        left: 28px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .experts-link4 {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 340px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -147px;
        left: 28px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .section-reviews {
        display: block;
    }

    .section-reviews-table {
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .section-reviews-map {
        margin: 0 auto;
    }

}

@media (min-width:834px) and (max-width:992px) {
    .section-gallery {
            display: flex;
            flex-wrap: wrap;
            padding-top: 11em;
            align-items: center;
            width: 82%;
            margin: 0 auto;
        }

    .section-team-experts {
        display: flex;
        /* flex-wrap: wrap; */
        text-align: center;
        /* justify-content: center; */
        flex-direction: column;
    }

        .experts_photo {
            width: 35%;
        }

    .experts-link {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 294px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -148px;
        left: 269px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .experts-link2 {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 293px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -148px;
        left: 269px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .experts-link3 {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 344px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -147px;
        left: 270px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .experts-link4 {
        position: relative;
        background-color: rgba(163, 83, 10, 0.7);
        width: 292px;
        height: 3em;
        border-radius: 0 0 30px 30px;
        top: -147px;
        left: 270px;
        font-family: 'Volkhov';
        font-weight: 400;
        font-size: 3em;
        color: #FFFAFA;
        box-sizing: border-box;
        padding-top: .8em;
        display: none;
    }

    .section-reviews {
        display: block;
    }

    .section-reviews-table {
        margin: 0 auto;
        padding-bottom: 2em;
    }

    .section-reviews-map {
        margin: 0 auto;

}

@media (min-width:768px) and (max-width:834px) {
    .section-gallery {
        display: flex;
        flex-wrap: wrap;
        padding-top: 11em;
        align-items: center;
        width: 98%;
        margin: 0 auto;
    }
}



@media (min-width:992px) and (max-width:1234px) {
    .section-services {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
}

    .image-services1 {
        width: 72%;
    }


    @keyframes serv1 {

        from,
        to {
            top: 0;
            left: 0;
        }

        20% {
            top: 0;
            left: 235px;
        }

        40% {
            top: 235px;
            left: 235px;
        }

        60% {
            top: 235px;
            left: 0px;
        }

        80% {
            top: 0px;
        }
    }

            
    @keyframes serv2 {

        from,
        to {
            top: 0;
            left: 0;
        }

        20% {
            top: 235px;
            left: 0;
        }

        40% {
            top: 235px;
            left: -235px;
        }

        60% {
            top: 0;
            left: -235px;
        }

        80% {
            top: 0px;
            left: 0;
        }
    }

    @keyframes serv3 {

        from,
        to {
            top: 0;
            left: 0;
        }

        20% {
            top: -235px;
            left: 0;

        }

        40% {
            top: -235px;
            left: 235px;
        }

        60% {
            top: 0;
            left: 235px;
        }

        80% {
            top: 0px;
            left: 0;
        }
    }

    @keyframes serv4 {

        from,
        to {
            top: 0;
            left: 0;
        }

        20% {
            top: 0;
            left: -235px;

        }

        40% {
            top: -235px;
            left: -235px;
        }

        60% {
            top: -235px;
            left: 0;
        }

        80% {
            top: 0px;
            left: 0;
        }
    }

}

@media (min-width:768px) and (max-width:992px) {
    .section-services-block-1 {
        width: 100%;
        margin-top: 4em;
        }

    .section-services-block-2 {
        display: none;
    }

    .section-service-block-1-flex {
        display: flex;
        margin-bottom: 2em;
        justify-content: center;
    }
}